.bodytype{
    background-color: #f9f6f0;
    margin-bottom: 35px;
    padding-top: 90px; 
    text-align: center;
    font-family:"Libertinus Math";
}
.bodycontents{
    background-color: #f9f6f0;
}

.head{
    padding-top: 20px;
    margin-bottom: 30px;
}
.card-footer{
    display: flex;
   justify-content: space-between;
    
}
.rupees{
    color: #fd7cc2;
    font-weight: bold; 
}

/* ..............Cards............. */
.featured-card-img{
   height: 200px;
  }
.featured-card-text{
 text-align: left;
font-size: 12px;
}
.featured-card-footer{
    display: flex;
   justify-content: space-between;
   background-color: #fff;
   border: none;

}
.featured-card-rupees{
    color: #fd7cc2;
    font-weight: bold; 

}
.featured-card-btn{
    background-color:#fd7cc2 ;
    color:#fff ;
    border: none;
}
.detailed-card-text{
 text-align: left;
font-size: 12px;
}
.detailed-card-img{
 height: 350px;

 
}
.detailed-card{
    margin-bottom: 30px;
}