.left-side{
    border-bottom: 1px solid #d5d2d266;
    background-color: #f9f6f0db;
    display: flex;
    align-items: center;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.cloud-text{
    font-size: 12px;
    color: #463e3999;
}
.cloud-text:hover{
    
    color: #000;
    cursor: pointer;
}
.logo-text{
  color: #000000ad; 
  font-weight: 800;
  font-size: 22px;
  margin-top: 5px;
}
.left-side-logo{
    display: flex;
    align-items:center;
}
    .left-side,
.left-side-logo,
.cloud-text {
  font-family: "Libertinus Math";
}
.left-side-cloud{
    margin-top: 6px;
}