 .detailsfield{
    width:100%;
    background-color: #f1f3f6;
    border: 1px solid #4f5859;
    height: 55px;
   margin-bottom: 25px;
   color: #463e3999;
}
.contactsubmit{
    width: 100%;
    background-color: #fd7cc2 !important;
}
.messagearea{
    width:100%;
    background-color: #f1f3f6;
    border: 1px solid #4f5859;
    height: 175px;
   margin-bottom: 25px;
   border-radius: 5px;
}
.contact{
    background-color: #f1f3f6;
    padding: 55px;
    margin-top: 70px;
}
.contact button{
    background-color: #E2FAFF;
    font-weight: 600;
    padding: 10px 15px;
    border: none;
}
.contact p{
    color: #463e3999;
} 
.contact img{
    width: 100px;
}
.contactdetails{
    color: #463e3999;
        display: flex;
    align-items: stretch;
    
   
}
.contacticon{
    margin-bottom: 15px;
}