$main-bg:#f9f6f0;
.footer-section{
    background-color: $main-bg;
    border-top: 1px solid #d5d2d266;
    height: 100px;
     display: flex;
    align-items: center;
     font-family: "Libertinus Math";
     color: #928b87;
    
}
.right-side-footer a{
    color: #928b87;
    font-family: "Libertinus Math";
}
.right-side-footer a:hover{
    color: #000;
}
