.delivery-sdhiping{
    text-align: center;
    
}
.shippings{
    background-color: #ffe5ec;
    padding: 20px;
    // margin-top: 50px;
}
.deliveryicon{
    color:#ff6b9d;
    font-size: 35px;
    font-weight: 900;
}
.delivery-sdhiping p{
    font-size: 12px;
}